@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.container {
  font-family: 'DM Sans';
  margin-right: 5px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  /* width: 75%; 반응형이면 */
  width: 1000px;
  margin-top: 50px;
  margin-left: 350px;
  padding: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  
}
.card img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}
.card p {
  font-size: 20px;
}
.texts p {
  font-weight: 600;
}
.texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SortBtn{
  border-radius: 5px;
  border: 2px solid #4a5b80;
  background-color: white;
  color: #4a5b80;
}

.SortBtn:hover{
  background-color: #4a5b80;
  color: white;
  
}