@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.container {
  font-family: 'DM Sans';
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  /* width: 75%; 반응형일 때 */
  width: 1300px;

  margin-left: 50px;
  padding: 10px;
  gap: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.card img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}
.card p {
  font-size: 20px;
}
.texts p {
  font-weight: 600;
}
.texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
