@font-face {
    font-family: 'Leckerli One';
    src: url('../font/LeckerliOne-Regular.ttf');
  }

.Header {
    font-family: Leckerli One;
    color: light;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    border-color: light;

}

.logo {
    margin-left: 50px;
    margin-right: 20px;
    width: 50px;
}

.title {
    margin: 0;
    text-align: left;
}
