.Profile-style{
    position: fixed;
    background-color: #A7D8FB;
    width:35%;
    height: 100%;
    
  }
  
  .Profile-img{
    background-size: cover ;
    vertical-align:middle;
    max-width: 90%;
    padding: 5%;
  }
  
  
  .no-dot{
    padding: 0;
    list-style-type: none;
  }